*,
*::after,
*::before {
    box-sizing: border-box;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-style: normal;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
    color: #434455;
    font-size: 16px;
    background-color: #FFFFFF;
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    align-items: center;
}

header {
    color: #FFFFFF;
    border-bottom: 1px solid #E7E9FC;
}

header .logo-web {
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: block;
    margin-right: 76px;
}

.nav-items {
    display: flex;
    gap: 40px;
}

.header-box {
    border: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 1px 6px rgba(46, 47, 66, 0.08);
}

header .logo-studio {
    color: #2E2F42;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

address {
    font-style: normal;
    margin-left: auto;
}

.navigation {
    display: flex;
    align-items: center;
}

.studio-link-main {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: block;
    padding: 24px 0;
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.studio-link-main::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.navigation .studio-link {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation .studio-link:hover,
.navigation .studio-link:focus,
.navigation .studio-link:active {
    color: #404BBF;

}

.navigation .studio-link:active {
    color: #404BBF;
    text-decoration: underline;
}

.navigation .portfolio-link {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

.navigation .portfolio-link:hover {
    color: #404BBF;
}

.navigation .contacts-link {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: block;
    padding: 24px 0;
}

.navigation .contacts-link:hover {
    color: #404BBF;
}

.contact-info {
    display: flex;
    gap: 40px;
}

.email-address {
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.email-address:focus {
    color: #404bbf;
}


.phone-number {
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.email-address:hover {
    color: #404BBF;
}

.phone-number:hover {
    color: #404BBF;
}

.section-first {
    background-color: #2E2F42;
    text-align: center;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.big-title {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    text-align: center;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-bottom: 48px;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 496px;
}

.button {
    background-color: #4D5AE5;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    line-height: 1.5;
    letter-spacing: 0.04em;
    min-width: 169px;
    display: block;
    border: none;
    height: 56px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 16px;
    padding-bottom: 16px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
    background-color: #404BBF;
}

.button:focus {
    background-color: #404BBF;
}

.section-second {
    padding: 120px 0;
}

.benefits-icon {
    display: flex;
    width: 264px;
    height: 112px;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    background-color: #F4F4FD;
    margin-bottom: 8px;
    border-radius: 4px;
    border: 1px solid #8E8F99;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-second ul {
    display: flex;
    gap: 24px;
    flex-direction: row;
    flex-shrink: 0;
}

.punkt {
    width: calc((1128px - 72px) / 4);
    flex-shrink: 0;
}

.title-second {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
}

.benefits {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: left;
    margin-bottom: 8px
}

.description {
    font-weight: 400;
    font-size: 16px;
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.section-three {
    background-color:#F4F4FD;
    padding: 120px 0
}

.team-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 0px 32px;
    margin-top: 16px;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: #F4F4FD;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-icon {
    width: 20px;
    height: 20px;
    fill: #f4f4fd;
}

.social-link:hover {
    background-color: #404BBF;
    color: #F4F4FD;
}

.social-link:focus {
    background-color: #404BBF;
}

.employee {
    padding: 32px 0;
    width: 264px;
}

.team-members {
    display: flex;
    gap: 24px;
    flex-basis: 264px;
}

.their-name {
    text-align: center;
    margin-bottom: 8px;
}

.one-member {
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.their-job {
    text-align: center;
}

.one-member {
    background-color: #FFFFFF;
}

.one-member img {
    display: block;
    max-width: 100%;
    width: 264px;
    height: 260px;
}

.introduction {
    text-transform: capitalize;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2E2F42;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 72px
}

.their-name {
    font-size: 20px;
    font-weight: 500;
    color: #2E2F42;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 8px;
    text-align: center;
}

.their-job {
    font-weight: 400;
    font-size: 16px;
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

.section-four {
    padding-top: 120px;
    padding-bottom: 120px;
}

.cover-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.list-portfolio {
    display: flex;
    row-gap: 48px;
    margin-left: 0;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 24px;
}

.box-cover-wrap {
    position: relative;
    overflow: hidden;
}

.app-interface {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none
}

.types-portfolio img {
    width: 100%;
    display: block;
    height: auto;
}

.types-portfolio {
    flex-shrink: 0;
    flex-basis: 360px;
    position: relative;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: hidden;
}

.types-portfolio:hover .cover-text {
    transform: translateY(0%);
}

.types-portfolio:hover {
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.their-name-portfolio {
    display: inline-block;
    text-align: left;
    font-weight: 500;
    margin-bottom: 8px;

}

.their-description {
    text-align: left;
}

.footer-page {
    background-color: #2E2F42;
    padding: 100px 0;
}

.footer-container {
    display: flex;
    align-items: baseline;
    margin-right: 120px;
}

.footer-web {
    color: #4D5AE5;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    line-height: 1.17;
    letter-spacing: 0.03em;
    display: block;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-icons-members {
    display: flex;
    gap: 16px;
}

.footer-studio {
    color: #F4F4FD;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.17;
}

.footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #F4F4FD;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.footer-link:hover {
    background-color: #31d0aa;
}

.footer-link:focus {
    background-color: #31d0aa;
}

.footer-flex {
    width: 264px;
    margin-left: 156px;
    margin-right: 120px;
}

.footer-text {
    color: #F4F4FD;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    margin-bottom: 16px;
}

.footer-text {
    width: 264px;
}

.text-footer {
    color: #FFFFFF;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    margin-bottom: 16px;
}

.footer-social {
    fill: #f4f4fd;
}